<div>
  <link href="./features.css" rel="stylesheet" />
  <div id="features" class="features-features">
    <div class="features-heading">
      <h1 class="features-text">
        <span></span>
        <span>It’s more than what you think</span>
      </h1>
      <span class="features-text03">
        <span>A comprehesive overview of features</span>
      </span>
    </div>
    <div class="features-list">
      <div class="features-f-1">
        <div class="features-focus-on-design feature-card">
          <img
            alt="image"
            src="public/playground_assets/design_services_black_24dp%201.svg"
            class="features-image"
          />
          <h1 class="features-text04"><span>Focus on design</span></h1>
          <span>
            <span>
              We include many options for customization and theming throughout
              the OS
            </span>
          </span>
        </div>
        <div class="features-performance feature-card">
          <img
            alt="image"
            src="public/playground_assets/assessment_black_24dp%201.svg"
            class="features-image1"
          />
          <h1 class="features-text06"><span>Performance</span></h1>
          <span>
            <span>
              Focused on speed and stability with tweaks to assist in the most
              demanding applications
            </span>
          </span>
        </div>
        <div class="features-regular-updates feature-card">
          <img
            alt="image"
            src="public/playground_assets/ontime%20updates.svg"
            class="features-image2"
          />
          <h1 class="features-text08"><span>Regular updates</span></h1>
          <span>
            <span>
              Bliss mainterners provide regular updates based on released
              builds.
            </span>
          </span>
        </div>
      </div>
      <div class="features-f-2">
        <div class="features-battery-friendly feature-card">
          <img
            alt="image"
            src="public/playground_assets/battery-heart-outline.svg"
            class="features-image3"
          />
          <h1 class="features-text10"><span>Battery-friendly</span></h1>
          <span>
            <span>
              Extra options are provided to help tune battery consumption to the
              best levels
            </span>
          </span>
        </div>
        <div class="features-added-security feature-card">
          <img
            alt="image"
            src="public/playground_assets/verified_user_black_24dp%201.svg"
            class="features-image4"
          />
          <h1 class="features-text12"><span>Added Security</span></h1>
          <span>
            <span>
              We include many options for security and safety throughout the OS
            </span>
          </span>
        </div>
        <div class="features-many-more feature-card">
          <img
            alt="image"
            src="public/playground_assets/more_black_24dp%201.svg"
            class="features-image5"
          />
          <h1 class="features-text14">
            <span></span>
            <span>and many more</span>
          </h1>
          <span>
            <span>
              More options are provided to help tune android to the best levels
            </span>
          </span>
        </div>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/bg-logo-400w.png"
      class="features-image6"
    />
  </div>
</div>
