.features-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.features-heading {
  display: flex;
  z-index: 100;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.features-text {
  color: var(--dl-color-bliss-primary);
  font-size: 3rem;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.features-text03 {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.features-list {
  gap: 24px;
  display: flex;
  z-index: 100;
  flex-direction: column;
}
.features-f-1 {
  gap: 24px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.features-focus-on-design {
  transition: 0.3s;
}
.features-focus-on-design:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
}
.features-image {
  width: 32px;
  object-fit: cover;
}
.features-text04 {
  color: #002766;
  font-size: 18px;
}
.features-performance {
  gap: 12px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 280px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #AEF998;
  border-width: 1.6px;
  border-radius: 16px;
  flex-direction: column;
  background-color: #D2FDC5;
}
.features-performance:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
}
.features-image1 {
  width: 32px;
  object-fit: cover;
}
.features-text06 {
  color: #186601;
  font-size: 18px;
}
.features-regular-updates {
  gap: 12px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 280px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #98EFF9;
  border-width: 1.6px;
  border-radius: 16px;
  flex-direction: column;
  background-color: #C5F7FD;
}
.features-regular-updates:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
}
.features-image2 {
  width: 32px;
  object-fit: cover;
}
.features-text08 {
  color: #002766;
  font-size: 18px;
}
.features-f-2 {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.features-battery-friendly {
  gap: 12px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 280px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #F9E798;
  border-width: 1.6px;
  border-radius: 16px;
  flex-direction: column;
  background-color: #FDF3C5;
}
.features-battery-friendly:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
}
.features-image3 {
  width: 32px;
  object-fit: cover;
}
.features-text10 {
  color: #665300;
  font-size: 18px;
}
.features-added-security {
  gap: 12px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 280px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #A598F9;
  border-width: 1.6px;
  border-radius: 16px;
  flex-direction: column;
  background-color: #CDC5FD;
}
.features-added-security:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
}
.features-image4 {
  width: 32px;
  object-fit: cover;
}
.features-text12 {
  color: #002766;
  font-size: 18px;
}
.features-many-more {
  gap: 12px;
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 280px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #F9989C;
  border-width: 1.6px;
  border-radius: 16px;
  flex-direction: column;
  background-color: #FDC5C8;
}
.features-many-more:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
}
.features-image5 {
  width: 32px;
  object-fit: cover;
}
.features-text14 {
  color: #660005;
  font-size: 18px;
}
.features-image6 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 306px;
  margin: auto;
  z-index: 1;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .features-text {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .features-features {
    max-width: 100%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features-f-1 {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .features-f-2 {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .features-features {
    width: 454px;
    max-width: auto;
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .features-text {
    width: 478px;
    font-size: 1.6rem;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .features-text03 {
    font-size: 16px;
  }
}
