<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <span class="nav-link"><span>About</span></span>
    <span class="navigation-links-text1 nav-link"><span>Features</span></span>
    <a
      href="https://blisslabs.org"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link nav-link"
    >
      <span>BlissLabs</span>
    </a>
    <a
      href="https://blissroms.org/team.html"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link1 nav-link"
    >
      <span>Team</span>
    </a>
    <span class="navigation-links-text2 nav-link"><span>Blog</span></span>
  </nav>
</div>
