<div>
  <link href="./stats.css" rel="stylesheet" />
  <div class="stats-stats">
    <div class="stats-maintainer">
      <img
        alt="image"
        src="public/playground_assets/groups_black_24dp.svg"
        class="stats-image"
      />
      <h1 class="stats-text"><span>Maintainer</span></h1>
      <span class="stats-text1"><span>Total no of maintainers</span></span>
      <h1 class="stats-text2"><span>35</span></h1>
    </div>
    <div class="stats-downloads">
      <img
        alt="image"
        src="public/playground_assets/file_download_black_24dp.svg"
        class="stats-image1"
      />
      <h1 class="stats-text3"><span>Downloads</span></h1>
      <span class="stats-text4"><span>Total no of downloads</span></span>
      <h1 class="stats-text5"><span>20M+</span></h1>
    </div>
    <div class="stats-devices">
      <img
        alt="image"
        src="public/playground_assets/devices_black_24dp.svg"
        class="stats-image2"
      />
      <h1 class="stats-text6"><span>Devices</span></h1>
      <span class="stats-text7"><span>Total no of devices</span></span>
      <h1 class="stats-text8"><span>35</span></h1>
    </div>
  </div>
</div>
